@model IEnumerable<ProjetoSoftware.Models.Naufragos>
@{
    ViewBag.Title = "Home Page";
}
<h2>Index</h2>
@using (Html.BeginForm("PegaLocalizacao", "Localizacao"))
{
    <p>
        Escolha: @Html.DropDownList("ListarDropdown", "All")
        Endereço : @Html.TextBox("address", null)
        <input type="submit" value="Pesquisar" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="map"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
       
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
          
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.案件編號 }) |
                @Html.ActionLink("Details", "Details", new { id = item.案件編號 }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.案件編號 })*@
            </td>
        </tr>
    }
</table>
<style type="text/css">
    #map {
        height: 500px;
    }
</style>


<script>
    var map;
    var geocoder;
    var nome = [];
    var estado = [];
    var address = [];
    var t = 0;

    @foreach(var item in Model)
    {
        <text>
    nome.push('@Html.DisplayFor(modelItem => item.Nome)');
    estado.push('@Html.DisplayFor(modelItem => item.Estado)');

        </text>
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 24.09, lng: 120.40 },
            zoom: 10
        });

        geocoder = new google.maps.Geocoder();

        for (var i = 0; i < address.length; i++) {
            geocodeAddress(geocoder, map, i);
        }
    }

    function geocodeAddress(geocoder, resultsMap, i) {
        setTimeout(function () {
            geocoder.geocode({ 'address': address[i] }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                    var contentString = '<div id="content">' +
                        '<div id="siteNotice">' +                        
                        '<div id="bodyContent">' +
                        '<p>Nome：' + nome[i] + '</p>' +
                        '<p>Estado：' + estado[i] + '</p>' +
                        '</div>' +
                        '</div>';
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    marker.addListener('mouseover', function () {
                        infowindow.open(map, marker);
                    });
                    marker.addListener('mouseout', function () {
                        infowindow.close();
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }, t++ * 500);



    }
</script>