@model ProjetoSoftware.Models.Naufragos

@{
    ViewBag.Title = "Excluir Registro";
}



<h3>Deseja deletar esse registro??</h3>
<div>
    <h4>Naufragos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOcorrido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOcorrido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar A listagem", "Index",new {}, new { @class = "btn btn-info" })
        </div>
    }
</div>
