@model PagedList.IPagedList<ProjetoSoftware.Models.Naufragos>
@using PagedList.Mvc

@{
    ViewBag.Title = "Pesquisar";
}

<h2>Localizar Embarcação</h2>

<p>Poderá localizar por data nome ou local</p>

<div>
    @using (Html.BeginForm("Pesquisar", "Naufragos", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-2">
                <p>Digite o nome</p>
                @Html.TextBox("search", ViewBag.Currentfilter as string, new {placeholder = "Digite Nome ou Estado da Embarcação"})
                @*<input type="text" name="search" id="search" placeholder="Digite a Pesquisa" />*@
                <div><button class="btn btn-info" type="submit">Buscar</button></div>
            </div>

            <div class="col-md-2">
                <p>Digite o Estado</p>
                <input type="text" name="search2" id="search2" placeholder="Digite a Pesquisa" />
                <div><button class="btn btn-info" type="submit">Buscar Local</button></div>
            </div>

            <div class="col-md-2">
                <p>Pesquisar Por data</p>
                <input type="date" name="search3" id="search3" placeholder="Digite a Pesquisa" />
                <div><button  class="btn btn-info" type="submit">Buscar Data</button></div>
            </div>            
        </div>
    }

    <table class="table table-striped">
        <tr>
            <td>
                @Html.ActionLink("Nome", "Pesquisar", new { organiza = ViewBag.OrganizaNome, currentFilter = ViewBag.Currentfilter })
            </td>
            <td>
                @Html.ActionLink("Estado", "Pesquisar", new { organiza = ViewBag.OrganizaEstado, currentFilter = ViewBag.Currentfilter })
            </td>

            <td>
                @Html.ActionLink("Local", "Pesquisar", new { organiza = ViewBag.OrganizaLocal, currentFilter = ViewBag.Currentfilter })
            </td>

            <td>
                @Html.ActionLink("Data Ocorrido", "Pesquisar", new { organiza = ViewBag.OrganizaData, currentFilter = ViewBag.Currentfilter })
            </td>

            <td>
            Ações
            </td>
        </tr>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Local)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.DataOcorrido)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdNaufrago }, new { @class = "btn btn-success ajuste" }) |
                            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.IdNaufrago }, new { @class = "btn btn-info ajuste" }) |
                            @Html.ActionLink("Deletar", "Delete", new { id = item.IdNaufrago }, new { @class = "btn btn-danger ajuste" })
                        </td>
                    </tr>
                }
            }
        }
    </table>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Pesquisar", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
</div>

